// One SGE allocation; all workflow tasks execute on that allocated node.
// 16 slots x 4G h_vmem = 64G. Reserve capacity for Nextflow and containers.
process.executor = 'local'
executor.cpus = 12
executor.memory = '48 GB'
executor.queueSize = 2
docker.enabled = false
singularity.enabled = true
singularity.autoMounts = true
process {
    withLabel: wf_aav {
        container = "${System.getenv('AAV_PROJECT_ROOT')}/cache/containers/aav.sif"
    }
    withLabel: wf_common {
        container = "${System.getenv('AAV_PROJECT_ROOT')}/cache/containers/common.sif"
    }
    withLabel: medaka {
        container = "${System.getenv('AAV_PROJECT_ROOT')}/cache/containers/medaka.sif"
    }
}
